.row {
    position: relative;
    margin-left:  10%;
    margin-right: 10%;
    width: 100%;
    float: left;
    }
 .white{
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color: white;
    float: left;
   }   
  .black{
    border: 1px solid black;
    width: 10%;
    height: 60px;
    background-color:#787878;
    float: left;
   }
   #footer {
    border: solid 1px;
    padding: 10px;
    margin: 50px;
    background-color: deeppink;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    }
   #container {
    text-align: center;
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
   }
   #title {
    position: fixed;
    top: 0px;
    left: 0px; 
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    text-align: center; 
    z-index: 10;
    font-family: 'CactronRegular';
    font-weight: normal;
    font-style: normal;
    background-color: aqua;
   }
   body {
    background-image:url("https://img.freepik.com/premium-photo/brown-wood-background-with-abstract-pattern-surface-natural-wooden-material_79161-80.jpg?w=996");
   }
   img {
    margin-left: 5px;
    margin-top: 20px;
    }
    #footer img {
        margin: 0 15px;
    }
    #footer p {
        margin: 0;
    }
